<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Providers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="d-flext justify-content-space main-header alert alert-success container text-center mt-3" role="alert">
            <div><a href="/" class="btn btn-info float-end">Home</a></div>
            <h2 class="text-primary" id="top-header">
                New England Eyebrow Threading (NEET)
            </h2>
            
        </div>
        
        <h1><b>MEET OUR THREADING SPECIALIST</b></h1>
        <p id="blurb">
            Here at NEET, we pride ourselves on our dedication to our
            customers. <br />
            Our experienced and talented specialist are the best at what they do.
        </p>
        <h4 id="joinus">
            Like what you see?
            <a href="/login_register" class="button1">Join Us</a>
        </h4>

        <div class="d-flex justify-content-between mt-5">
            <div class="card rounded" style="width: 25rem;">
                <img class="providers-image rounded-circle card-img-top p-2" src="../static/img/mom.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text-center">Rudra Ghimire(Owner)</h4>
                    <p class="text-center">Rudra has been in the threading business for 4 years. She has a threading experience of more than 10 years.</p>
                    <h6 class="text-center font-weight-bold">Email: rudra.ghimire23@gmail.com</h6>
                    <div class="text-center mt-4">
                        <a href="https://www.google.com/search?q=new+england+eyebrow+threading&rlz=1C5CHFA_enUS919US919&oq=new&aqs=chrome.0.69i59j69i57j69i59j0i67i131i433j46i67j69i61l2j69i60.1263j1j7&sourceid=chrome&ie=UTF-8#lrd=0x89e3739882c81fa1:0x579d35d41c5b59f6,3,,," class="button1 text-center" target="_blank">Write Review</a>
                    </div>
                </div>
            </div>
            <div class="card rounded" style="width: 25rem;">
                <img class="providers-image rounded-circle card-img-top p-2" src="../static/img/mahima.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text-center">Mahima Bhattarai(Co-Owner)</h4>
                    <p class="text-center">She is the co-owner of NEET. She also manages the business and handles the marketing aspects of NEET.</p>
                    <h6 class="text-center font-weight-bold">Email: bhattaraimahima11@gmail.com</h6>
                    <div class="text-center mt-4">
                        <a href="https://www.google.com/search?q=new+england+eyebrow+threading&rlz=1C5CHFA_enUS919US919&oq=new&aqs=chrome.0.69i59j69i57j69i59j0i67i131i433j46i67j69i61l2j69i60.1263j1j7&sourceid=chrome&ie=UTF-8#lrd=0x89e3739882c81fa1:0x579d35d41c5b59f6,3,,," class="button1 text-center" target="_blank">Write Review</a>
                    </div>
                    
                </div>
            </div>

            <div class="card rounded" style="width: 25rem;">
                <img class="providers-image rounded-circle card-img-top p-2" src="../static/img/sunita.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text-center">Sunita Nepal(Part-time)</h4>
                    <p class="text-center">Sunita is a part-time employee here at NEET. She is very friendly, welcoming, and delivers great customer service!</p>
                    <h6 class="text-center font-weight-bold">Email: sunitanepal11@gmail.com</h6>
                    <div class="text-center mt-4">
                        <a href="https://www.google.com/search?q=new+england+eyebrow+threading&rlz=1C5CHFA_enUS919US919&oq=new&aqs=chrome.0.69i59j69i57j69i59j0i67i131i433j46i67j69i61l2j69i60.1263j1j7&sourceid=chrome&ie=UTF-8#lrd=0x89e3739882c81fa1:0x579d35d41c5b59f6,3,,," class="button1 text-center" target="_blank">Write Review</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer-banner alert alert-success text-center container " role="alert">
            <h2 class="text-primary mt" id="top-header">
                Thank You for Visiting US!
            </h2>
        </div>

    </div>
</body>

</html>

<style scoped>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap");

    body {
        font-family: "Poppins", sans-serif;
    }


    h1,
    h4 {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
        font-weight: bold;
        color: #496bf2;
    }

    #joinus {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 550;
        color: #496bf2;
    }


    #blurb {
        text-align: center;
        font-size: 22px;
    }
</style>